// Navigation Styles here

nav {
    
    width: 100%;
    border-bottom: @border;
    padding-top: 0.8rem;
    padding-bottom: 2rem;

    @media @mobile {
        width: auto;
        padding-bottom: 1rem;
    }

    .top {

    width: 800px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media @mobile {

     flex-direction: column;
     width:100%;
     justify-content: space-between;
     align-items: center;

     h1 {
         font-size: 3rem;
         padding: 1.5rem;
     }
     
              
    }
    // margin-top: 1rem;
    
    // padding-left: 32rem;
    }

    a {
        text-decoration: none;
        color: @font-color;
        font-size: 1.6rem;
        padding-right: 4rem;

        @media @mobile {
            padding: 3rem;
        }
    }


}